.main-container {
  display: flex;
  justify-content: center;
}

.gist-list {
  width: 50%;
  margin-top: 0;
  list-style: none;
  padding: 0;
}
.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-left {
  display: flex;
  align-items: center;
}

.content-left a {
  margin: 0 15px 0 0;
}

.content-left a img {
  border-radius: 50px;
}

.content-right a {
  margin: 0 20px 0 0;
  text-decoration: none;
}
.date-setter .created {
  margin: 0 30px 0 0;
}

.date-setter {
  font-size: 14px;
  margin: 0 0 10px 0;
}

.description {
  font-size: 16px;
  margin: 0 0 10px 0;
  font-weight: 600;
}
.url-row a {
  margin: 0 0 0 15px;
  text-decoration: none;
}

.content-left h3 {
  color: #0000ffe8;
  font-size: 17px !important;
  font-weight: normal;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
}
